/venv/
/.idea/
/node_modules/
/visualizeDataProject/frontend/.angular/
/visualizeDataProject/frontend/.vscode/
/visualizeDataProject/frontend/node_modules/
/visualizeDataProject/visualizeDataProject/__pycache__
/frontend/node_modules/
/frontend/.angular/
