.vega-container {
  width: 100%;
}

.spinner-color {
    color: burlywood!important;
}

.vega-bindings .vega-bind label span {
  display: inline-block;
  width: 120px;
}

#heightSliderLabel {
  width: 120px;
}

#heightSlider {
  max-width: 300px;
}