<div class="container my-4">
    <h1 class="mb-4 text-center">Sequence Viewer</h1>

    <div class="row mb-4">
        <div class="col-md-6">
            <div class="form-floating">
                <select id="mgfFileSelect" class="form-select" [(ngModel)]="mgfFileSelectedName" (ngModelChange)="onMgfFileChange($event)">
                    <option *ngFor="let mgfFile of mgfFiles" [value]="mgfFile.name">
                        {{ mgfFile.name }}
                    </option>
                </select>
                <label for="mgfFileSelect">Select mgf file</label>
            </div>

        </div>
        <div class="col-md-6">
            <div class="form-floating" *ngIf="sequenceData && !errorOccurred">
                <select id="sequenceSelect" *ngIf="sequenceData" class="form-select" [(ngModel)]="selectedSequenceId"
                    (ngModelChange)="onSequenceChange($event)">

                    <option *ngFor="let mgfFileSequencesId of mgfFileSequencesIds" [value]="mgfFileSequencesId">
                        {{ mgfFileSequencesId }}
                    </option>
                </select>
                <label for="sequenceSelect">Select sequence</label>

            </div>

        </div>
    </div>

    <!-- Show spinner while sequenceData is loading -->
    <div *ngIf="!sequenceData && !errorOccurred" class="d-flex justify-content-center align-items-center"
        style="height: 200px;">
        <div class="spinner-border spinner-color" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div *ngIf="sequenceData && !errorOccurred">

        <h2 class="mt-2 mb-2">Sequence: {{ sequenceData.sequence }}</h2>

        <label id="heightSliderLabel" for="heightSlider" class="form-label">Height: {{ chartHeight }}</label>
        <input type="range" min="50" max="1000" step="1" class="form-range" id="heightSlider" [(ngModel)]="chartHeight"
            (input)="onHeightChange()">

        <div id="vis" class="mb-4 vega-container" [ngStyle]="{'height': chartHeight}"></div>


        <!-- <img class="img-fluid rounded border mb-2" [src]="sequencePlotPath + sequenceData?.id + '.png'"
            alt="Sequence plot" /> -->

        <table class="table table-bordered table-striped">
            <tbody>
                <tr *ngFor="let col of columnKeys">
                    <th>{{ col }}</th>
                    <td>{{ sequenceData[col] }}</td>
                </tr>
            </tbody>
        </table>

    </div>

    <div *ngIf="errorOccurred" class="alert alert-danger">
        {{ errorMessage }}
    </div>

</div>