<div class="container my-4">
    <h1 class="mb-4 text-center">Sequence Viewer</h1>

    <!-- <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select> -->

    <select class="form-select" [(ngModel)]="mgfFileSelected">
        <option *ngFor="let mgfFile of mgfFiles" [value]="mgfFile">
            {{ mgfFile.name }}
        </option>
    </select>

    <!-- Show spinner while sequenceData is loading -->
    <div *ngIf="!sequenceData && !errorMessage" class="d-flex justify-content-center align-items-center"
        style="height: 200px;">
        <div class="spinner-border spinner-color" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div *ngIf="sequenceData">

        <select class="form-select" [(ngModel)]="sequenceData.id" (ngModelChange)="onMgfFileChange($event)">

            <option *ngFor="let mgfFileSequencesId of mgfFileSequencesIds" [value]="mgfFileSequencesId">
                {{ mgfFileSequencesId }}
            </option>
        </select>

        <h2 class="mt-2 mb-2">Sequence number: {{ sequenceData?.id }}</h2>

        <label for="heightSlider" class="form-label">Height</label>
        <input type="range" min="50" max="1000" step="1" class="form-range" id="heightSlider" [(ngModel)]="chartHeight"
            (input)="onHeightChange()">
        
        <div id="vis" class="vega-container" [ngStyle]="{'height': chartHeight}"></div>


        <!-- <img class="img-fluid rounded border mb-2" [src]="sequencePlotPath + sequenceData?.id + '.png'"
            alt="Sequence plot" /> -->

        <table class="table table-bordered table-striped">
            <tbody>
                <tr *ngFor="let col of columnKeys">
                    <th>{{ col }}</th>
                    <td>{{ sequenceData[col] }}</td>
                </tr>
            </tbody>
        </table>

    </div>

</div>